@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-200 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-200.woff') format('woff');
}
/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-300.woff') format('woff');
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-regular.woff') format('woff');
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-500.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-600.woff') format('woff');
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-700.woff') format('woff');
}
/* poppins-800 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-800.woff') format('woff');
}
/* poppins-900 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('@/assets/fonts/poppins-v20-latin-900.woff') format('woff');
}

* {
    @apply font-poppin text-slate-900;
}
